/*style*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
}

/*header*/

header {
    height: 40px;
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn-nav {
    display: block;
    background-color: rgb(67, 67, 67);
    border-radius: 5px;
    padding: 5px 5px;
    margin: 5px;
}

a {
    text-decoration: none;
    color: white;
}

/*main*/

main {
    height: calc(100vh - 135px);
}

.flex-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.container {
    margin: 10px auto;
    width: 80%;
}

.user {
    position: relative;
    padding-right: 5px;
    width: calc(100% / 7);
    min-width: 100px;
    margin-bottom: 5px;
}

.user img {
    width: 100%;
}

.info {
    position: absolute;
    bottom: 0px;
    left: 0;
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 10px;
}


/*footer*/

footer {
    background-color: rgb(34, 34, 34);
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

.flex {
    display: flex;
}

footer .command_bar{
    color: white;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    text-align: center;
    padding-left: 15px;
}
footer .command_bar i{
    font-size: 20px;
    padding-bottom: 10px;
}
footer .command_bar i + div{
    font-size: 11px;
}
footer .command_bar .flex > div{
    padding-left: 20px;
}
footer .command_bar h5{
    color: red;
    background-color: rgb(67, 67, 67);
    line-height: 55px;
    min-width: 100px;
}
footer .green{
    color: green;
}
footer .command_bar .flex > div.arrow{
    font-size: 10px;
    padding-right: 0;
    padding-left: 0;
    padding-top: 12px;
}

footer .command_bar .flex > div:hover {
    color: #4A4A4A;
    cursor: pointer;
}

h5:hover {
    cursor: pointer;
}
