/*style*/

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

/*header*/

body {
    background-color: black;
    min-width: 700px;
}

.header-settings {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
}

.header-settings .header-settings-item {
    float: left;
    display: flex;
    background-color: #4A4A4A;
    padding: 5px;
    font-size: 12px;
    margin: 3px;
    border-radius: 3px;
}

a,
i {
    color: white;
    text-decoration: none;
}

.fa-grip {
    margin-right: 5px;
}

/*main*/

.meeting-container {
    padding-top: 80px;
    padding-bottom: 20px;
    height: calc(100vh - 155px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    overflow-y: auto;
}

.meeting-container .user {
    width: 160px;
    height: 100px;
    background-image: url("https://picsum.photos/300/200?random=20%22%3E");
    background-size: cover;
    position: relative;
    margin: 5px 2px;
}

.meeting-container .user .info {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    background-color: rgba(140, 140, 140, 0.5);
    color: white;
    font-size: 9px;
    max-width: 80%;
}

.meeting-container .user .info .user-id {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.meeting-container .user .info .microphone {
    margin-right: 2px;
}

/*footer*/

.footer-bar {
    bottom: 0;
    height: 55px;
    width: 100%;
    background-color: #272727;
    display: flex;
    justify-content: space-between;
}

.footer-bar .footer-section {
    display: flex;
}

.footer-bar .footer-section .footer-item {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 10px;
    align-items: center;
}

.footer-bar .footer-section .footer-item .footer-icon {
    font-size: 17px;
}

.footer-bar .footer-section .footer-item .footer-description {
    font-size: 9px;
    margin: 7px 0;
}

.footer-bar .footer-section .footer-item .item-more {
    font-size: 8px;
    margin: 2px 15px;
}

.footer-bar .footer-section #share-screen {
    margin-right: 15px;
}

.footer-bar .footer-section #end-meeting {
    color: #FF0000;
    background-color: #4A4A4A;
}

#green {
    color: green;

}

.footer-item:hover {
    background-color: #4A4A4A;
}